.conteudo {
  max-width: 1150px;
  margin: auto;
  padding: 70px 10px;
}

.frame-212 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nome-pagina {
  color: black;
  font-size: 30px;
  font-family: 'Arial Rounded MT Bold';
}

.botao-add-transacao {
  padding: 7px 10px;
  background: #3F9DAC;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.botao-add-transacao .vector {
  width: 8px;
  height: 8px;
  border: 2px #D0EAEE solid;
}

.adicionar-transacao {
  color: #D0EAEE;
  font-size: 12px;
  font-family: 'Arial Rounded MT Bold';
}

/* Filtros e Pesquisa */
.frame-210 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 26px;
}

.frame-209, .frame-208 {
  display: flex;
  gap: 10px;
}

.dropdown-button-ultimos-7dias,
.date-picker-button-inicial,
.date-picker-button-final,
.botao-filtros {
  padding: 8px 15px;
  background: #F2F2F2;
  border-radius: 10px;
  border: 1px #BEBEBE solid;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Arial Rounded MT Bold';
  font-size: 12px;
  color: #BEBEBE;
}

.barra-pesquisa {
  width: 265px;
  padding: 6px 9px;
  background: #F2F2F2;
  border-radius: 10px;
  border: 1px #BEBEBE solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Tabela */
.tabela-transacoes {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  color: #212121;
  font-size: 12px;
  font-family: 'Arial Rounded MT Bold';
  text-align: left;
  padding: 0 10px;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-icon {
  width: 45px;
  height: 45px;
  padding: 15px;
  background: #F2F2F2;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  font-size: 14px;
  font-family: 'Arial Rounded MT Bold';
  color: black;
}

/* Tipos */
.tipo {
  font-size: 14px;
  font-family: 'Arial Rounded MT Bold';
}

.tipo.despesa {
  color: #810C13;
}

.tipo.receita {
  color: #2A741D;
}

/* Bancos */
.banco {
  font-size: 14px;
  font-family: 'Arial Rounded MT Bold';
}

.banco.nubank {
  color: #6C48E3;
}

.banco.itau {
  color: #E0C986;
}

/* Categorias */
.categoria {
  padding: 3px 10px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 10px;
  font-family: 'Arial Rounded MT Bold';
}

.categoria.compras {
  background: #E9A2D7;
  color: #9F2781;
}

.categoria.transporte {
  background: #EDC87E;
  color: #C89558;
}

/* Ações */
.actions {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0 10px;
}

.dots {
  width: 3px;
  height: 11px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.dots::before,
.dots::after,
.dots span {
  content: "";
  width: 3px;
  height: 3px;
  background: #999999;
  border-radius: 50%;
  display: block;
}