.conteudo {
  max-width: 1150px;
  margin: auto;
  padding: 70px 10px;
}

.frame-212 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nome-pagina {
  color: black;
  font-size: 30px;
  font-family: "Nunito", Arial, sans-serif;
}


.botao-add-transacao {
  padding: 7px 10px;
  background: #3F9DAC;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none; 
  cursor: pointer; 
}


.botao-add-transacao .vector {
  width: 12px; 
  height: 12px;
  border: none;
}


.adicionar-transacao {
  color: #D0EAEE;
  font-size: 12px;
  font-family: "Nunito", Arial, sans-serif;
}



.frame-210 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 26px;
}

.frame-209, .frame-208 {
  display: flex;
  gap: 10px;
}



.date-picker-button-final,
.botao-filtros {
  padding: 8px 15px;
  background: #F2F2F2;
  border-radius: 10px;
  border: 1px #BEBEBE solid;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 12px;
  color: #BEBEBE;
}


/* Estilo do botão */
.dropdown-button-ultimos-7dias {
  padding: 8px 15px;
  background: #F2F2F2;
  border-radius: 10px;
  border: 1px #BEBEBE solid;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 12px;
  color: #BEBEBE;
  cursor: pointer;
}

/* Estilo do conteúdo do dropdown */
.dropdown-content {
  display: none; /* Esconde o dropdown por padrão */
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  z-index: 1;
}

.dropdown-content a {
  color: #333333;
  padding: 10px 15px;
  text-decoration: none;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 12px;
  display: block;
  border-bottom: 1px solid #E0E0E0;
}

.dropdown-content a:hover {
  background-color: #F5F5F5;
}

.dropdown-content a:last-child {
  border-bottom: none; /* Remove a borda do último item */
}


.date-picker-button-inicial {
  padding: 8px 15px;
  background: #F2F2F2;
  border-radius: 10px;
  border: 1px solid #BEBEBE;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 12px;
  color: #BEBEBE;
  cursor: pointer;
}


.date-input {
  padding: 8px 15px;
  background: #F2F2F2;
  border-radius: 10px;
  border: 1px solid #BEBEBE;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 12px;
  color: #333;
  display: none; 
}

.date-input:focus {
  border-color: #007BFF; 
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.vector {
  width: 16px;
  height: 16px;
}

.barra-pesquisa {
  width: 265px;
  background: #F2F2F2;
  border-radius: 10px;
  border: 1px solid #BEBEBE;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 8px;
}

.input-pesquisa {
  width: 100%;
  padding: 8px 0;
  border: none;
  background: transparent;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 14px;
  color: #212121; 
  outline: none;
}

.input-pesquisa::placeholder {
  color: #BEBEBE; 
}


.vector img {
  width: 18px;
  height: 18px;
}


.tabela-transacoes {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  color: #212121;
  font-size: 12px;
  font-family: "Nunito", Arial, sans-serif;
  text-align: left;
  padding: 0 10px;
}

.item-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-icon {
  width: 45px;
  height: 45px;
  padding: 15px;
  background: #F2F2F2;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  font-size: 14px;
  font-family: "Nunito", Arial, sans-serif;
  color: black;
}

/* Tipos */
.tipo {
  font-size: 14px;
  font-family: "Nunito", Arial, sans-serif;
}

.tipo.despesa {
  color: #810C13;
}

.tipo.receita {
  color: #2A741D;
}

/* Bancos */
.banco {
  font-size: 14px;
  font-family: "Nunito", Arial, sans-serif;
}

.banco.nubank {
  color: #6C48E3;
}

.banco.itau {
  color: #E0C986;
}

/* Categorias */
.categoria {
  padding: 3px 10px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 10px;
  font-family: "Nunito", Arial, sans-serif;
}

.categoria.compras {
  background: #E9A2D7;
  color: #9F2781;
}

.categoria.transporte {
  background: #EDC87E;
  color: #C89558;
}

/* Ações */
.actions {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0 10px;
}

.dots {
  width: 3px;
  height: 11px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.dots::before,
.dots::after,
.dots span {
  content: "";
  width: 3px;
  height: 3px;
  background: #999999;
  border-radius: 50%;
  display: block;
}