{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monede{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'transacoes' %}">Transações</a></li>
                <li><a href="{% url 'relatorios' %}">Relatórios</a></li>
                <li><a href="{% url 'metas' %}">Metas</a></li>
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo específico da página será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Monede</p>
    </footer>
</body>
</html>
