{% extends 'financas/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'financas/css/inicio.css' %}">
{% endblock %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="conteudo">
  <div class="conteudo-atualz">
      <div class="fundo"></div>
      <div class="ola-usuario">Olá, Vinicius!</div>
      
      <div class="conteudo-extrato">
          <div class="receita">
              <div>Receita</div>
              <div class="receita-usuario">R$ 3234,78</div>
          </div>
          <div class="despesas">
              <div>Despesas</div>
              <div class="despesa-usuario">R$ 2315,44</div>
          </div>
          <div class="botao-ver-balanco">
              <div class="vector"></div>
              <div>Ver Balanço</div>
          </div>
      </div>
  </div>

    <div class="contas-cartoes-componets" id="contasCartoesComponent">
        <div class="text-contas-cartao-components">Contas e Cartões</div>
        <div class="component-button-container" onclick="toggleExpand()">
        <img src="{% static 'icons/contasEcartoes_botam.svg' %}" alt="Botão de Ação" class="button-icon-contas&cartao" id="buttonIcon">
        </div>
    </div>
  
  <div class="tabela-transacoes">
      <div>Transações</div>
      {% for transacao in transacoes %}
      <div class="item-tabela">
          <div class="frame-icon">
              <img src="{{ transacao.icon_url }}" alt="{{ transacao.nome }}">
          </div>
          <div class="transacao-info">
              <div class="transacao-nome">{{ transacao.nome }}</div>
              <div class="transacao-data">{{ transacao.data|date:"d/m/Y H:i" }}</div>
          </div>
          <div class="transacao-valor">{{ transacao.valor }}</div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}

