{% extends 'financas/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'financas/css/transacoes.css' %}">
{% endblock %}


{% block title %}Transações{% endblock %}

{% block content %}
<div class="TransaEs">
  <div class="Conteudo">
    <div class="Frame212">
      <div class="NomePagina">Transações</div>
      <div class="BotaoAddTransacao">
        <div class="Vector"></div>
        <div class="AdicionarTransaO">Adicionar Transação</div>
      </div>
    </div>
    <div class="Frame211">
      <div class="Frame210">
        <div class="Frame209">
          <div class="DropdownButtonUltimos7dias" onclick="toggleDropdown()">
            <div class="Ltimos7Dias">Últimos 7 Dias</div>
            <div>
              <img src="{% static 'icons\seta-transacoes.svg' %}" alt="Ícone de seta">
            </div>
          </div>
          <div id="dropdownContent" style="display: none;">
            <ul>
              <li>Últimos 7 Dias</li>
              <li>Últimos 15 Dias</li>
              <li>Últimos 30 Dias</li>
            </ul>
          </div>
          
          <div class="DatePickerButtonInicial">
            <div class="DataInicial">Data Inicial</div>
            <div class="Vector"></div>
          </div>
          <div class="DatePickerButtonFinal">
            <div class="DataFinal">Data Final</div>
            <div class="Vector"></div>
          </div>
        </div>
        <div class="Frame208">
          <div class="BotaoFiltros">
            <div class="Filtros">Filtros</div>
            <div class="Vector"></div>
          </div>
          <div class="BarraPesquisa">
            <div class="Pesquisar">Pesquisar</div>
            <div class="Vector"></div>
          </div>
        </div>
      </div>
      <div class="TabelaTransacoes">
        <div class="TabelaCategorias">
          <div class="Item">Item</div>
          <div class="Data">Data</div>
          <div class="Valor">Valor</div>
          <div class="Tipo">Tipo</div>
          <div class="BancoConta">Banco/Conta</div>
          <div class="Categoria">Categoria</div>
        </div>
        <div class="TabelaItens">
          <!-- Itens da tabela -->
          <!-- Adicione os itens da tabela como desejado -->
        </div>
      </div>
    </div>
  </div>
</div>
  
<script src="js/script.js"></script>
{% endblock %}
